<div class="inner">
    <h3 class="masthead-brand">Bitgly</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link @(ViewBag.PageTitle == "About" ? "active" : "")" href="@ViewBag.AppRoot">About</a>
        <a class="nav-link @(ViewBag.PageTitle == "Privacy Policy" ? "active" : "")" href="@ViewBag.AppRoot/privacy">Privacy Policy</a>
        <a class="nav-link" href="mailto:mgrcar+bitgly+kiwi@gmail.com" onblur="this.blur();">Contact Us</a>
    </nav>
</div>