@page

@{
    ViewBag.PageTitle = "About";
    ViewBag.AppRoot = Url.Content("~/kiwi");
}

<p class="lead font-weight-normal">And Gained a Heart</p>
<p>How Kiwi Lost His Wings is an interactive story about a little kiwi bird who was not even considered when a hero was needed to save the forest. He was too small and too colorful...</p>
<p>But greatness is not about color. And neither about size.</p>
<p>This is a story about courage and sacrifice.</p>
<p class="lead">
    <a target="_blank" href="https://apps.apple.com/us/app/id1535024139"><img src="~/img/download.svg" /></a>
</p>
