@page

@{
    ViewBag.PageTitle = "Privacy Policy";
    ViewBag.AppRoot = Url.Content("~/kiwi");
    Layout = "~/Pages/Shared/_LayoutLeft.cshtml";
}

<p class="lead font-weight-normal">Mobile App ("App") Privacy Policy</p>

<p class="lead">
    TL;DR: We do not store or even receive any data from the App, neither does the App send any data to any third-party service.
</p>

<p>
    We at Bitgly do not store any user data originating from the App. In fact, we do not store or even receive any data from the App, period. This includes, but is not limited to, your personal data,
    usage data (behavior data, access log), app crash statistics, code debugging data, and any kind of cookies.
</p>
<p>
    In this same fashion, we do not send any data from the App to any third-party service. The App simply does not send any data over the Internet.
</p>
<p>
    This Policy will never change for the version of the App that you have already installed. If &ndash; for some strange reason that we cannot think of right now &ndash; we do change
    this Policy, it will apply only to the versions of the App released after this Policy has been changed. Also, if we do change this Policy, this will
    be clearly stated in the release notes of the first affected version of the App.
</p>

<p class="lead font-weight-normal">This Web Site ("Web Site") Privacy Policy</p>

<p class="lead">
    TL;DR: We do not store any data originating from the use of this Web Site, neither does this Web Site send any data to any third-party service.
    Also, should you contact us, we will never ever share your e-mail address with anyone outside of our team.
</p>

<p>
    We at Bitgly do not store any data originating from the use of this Web Site. This includes, but is not limited to, your personal data,
    usage data (behavior data, access log), code debugging data, and any kind of cookies. This Web Site only communicates with
    our Web servers for the purpose of fetching the content that it needs to display. The corresponding content requests are not
    stored on our servers.
</p>
<p>
    Neither this Web Site nor we send any data to any third-party service. This includes, but is not limited to, Google Analytics or similar usage tracking
    services, Mailchimp or similar marketing platforms, and Firebase or similar application development platforms. This Web Site communicates only with
    our Web servers, and only for the purpose of fetching the content that it needs to display.
</p>
<p>
    You can send us an e-mail from this Web Site. We have a Gmail (Google Mail) account to which your e-mail will arrive. Your e-mail will stay there [forever],
    unless you explicitly instruct us to delete it. Then we will do so. You can also instruct us to delete all your e-mails. And we will do so.
</p>
<p>
    We will use your e-mails and your e-mail address only in the following way:
    <ul>
        <li>We may read your e-mails.</li>
        <li>We may reply to your e-mail by using the "Reply to all" functionality in Gmail.</li>
        <li>We will delete some or all of your e-mails if you instruct us to do so.</li>
    </ul>
</p>
<p>
    We will not do anything else with your e-mails or your e-mail address. Most importantly, we will not share your e-mail address with anyone outside of our team.
</p>
<p>
    This Policy may change in the future. However, it will stay compliant with the applicable laws, rules, and regulations, including the <a href="https://gdpr-info.eu/" target="_blank">General Data Protection Regulation (GDPR)</a>.
</p>