/*
 * Globals
 */

/* Links */
a,
a:focus,
a:active,
a:hover {
    color: #fff;
    text-decoration: underline;
}

a.hover {
    text-decoration: none;
}

a > img {
    height: 3.5rem;
}

/*
 * Base structure
 */

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.content-container {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow-y: auto;
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
    flex-direction: column;
    -ms-flex-direction: column;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.content-block {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*
 * Header
 */
.masthead {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link,
.nav-masthead .nav-link:focus,
.nav-masthead .nav-link:active,
.nav-masthead .nav-link:hover {
    padding: .25rem 0;
    font-weight: 700;
    border-bottom: .25rem solid transparent;
    text-decoration: none;
}

.nav-masthead .nav-link.hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  border-bottom-color: #fff !important;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}
